h1 {
	font-size: 40px;
	font-family: Arial, Times, serif;
	color: black;
}

h2 {
	font-size: 30px;
	font-family: Arial, Times, serif;
	color: black;
}

p {
	font-size: 20px;
	font-family: Arial, Times, serif;
	color: black;
}

#portrait {
	width: 15%;
	height: auto;
}

#github, #linkedin, #stackoverflow {
	width: 60px;
	height: auto;
}


footer {
	font-size: 12px;
	font-family: Arial, Times, serif;
	color: gray;
}
